.infra_header--text{
    color: black;
    font-weight: bold;
}

.items--header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8C8CA1;
    background-color: #ECF1F4;
}

/* Add Items */
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    color: #8C8CA1;
}

.item:hover {
    background-color: #ECF1F4;
    color: #203659;
    font-weight: 600;
}

.selected--annexe, .selected--bloc, .selected--room {
    background-color: #ECF1F4;
    color: #203659;
    font-weight: 600;
}

.annexe_add--input, .bloc_add--input, .room_add--input {
    height: 30px;
    border: none;
}

.annexe_add--input:focus, .bloc_add--input:focus, .room_add--input:focus{
    border: none !important;
    outline: none;
}

/* Items Div */
.annexe_add--button, .bloc_add--button, .room_add--button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


