#sidebar--container {
    background-color: #ECF1F4;
    color: #8C8CA1;
}
/* Dont Touch */
#sidebar--top {
    height: 100vh;
    width: 100%;
    /* z-index: 2; */
}

a {
    text-decoration: none;
}

/* Header */
#sideBar--header {
    height: 100px;
    /* z-index: 1; */
}

/* Profil Picture */
#SBProfile-picture {
    overflow: hidden !important;
}

#SBprofile-picture img {
    height: 50px !important;
    width: 50px !important;
}

/* Item Div */
.sidebar--item {
    cursor: pointer;
    transition: all .3s linear !important;
    color: #8C8CA1 !important;

}

.sideBar_item--hoverd, .sideBar_item--selected {
    border-left: 7px solid #203659 ;
    border-radius: 3px;
    color: #203659 !important;
}

/* Item Span */
.link {
    color: #8C8CA1 !important;
    font-weight: 400;
}

.link--hoverd, .link--selected {
    color: #203659 !important;
    font-weight: 500;
}


